%tr{ class: "tree-item #{tree_hex_class(blob_item)}" }
  %td.tree-item-file-name
    - if Gitlab.config.ipython_notebook.render && blob_item.name.downcase.end_with?('.ipynb')
      = link_to '',
          project_ipython_notebook_path(@project, tree_join(@id || @commit.id, blob_item.name)),
          target: '_blank', class: 'icon-external-link-sign'
    - else
      = tree_icon(type)
    %span.str-truncated
      = link_to blob_item.name, project_blob_path(@project, tree_join(@id || @commit.id, blob_item.name))
  %td.tree_time_ago.cgray
    = render 'spinner'
  %td.hidden-xs.tree_commit
