%tr{ class: "tree-item #{tree_hex_class(blob_item)}" }
  %td.tree-item-file-name
    - if Gitlab.config.ipython_notebook.render && blob_item.name.downcase.end_with?('.ipynb')
      = link_to namespace_project_ipython_notebook_path(@project.namespace, @project, tree_join(@id || @commit.id, blob_item.name)), title: '', target: '_blank', class: 'fa fa-external-link' do
        %span.str-truncated= ''
    - else
      = tree_icon(type, blob_item.mode, blob_item.name)
    - file_name = blob_item.name
    = link_to namespace_project_blob_path(@project.namespace, @project, tree_join(@id || @commit.id, blob_item.name)), title: file_name do
      %span.str-truncated= file_name
  %td.tree_time_ago.cgray
    = render 'projects/tree/spinner'
  %td.hidden-xs.tree_commit
